keras==2.8.0
lifelines==0.27.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
numpy==1.22.2
pandas==1.4.0
scikit-learn==1.1.2
scikit-survival==0.18.0
tensorflow==2.8.0
tensorflow-io==0.30.0
tensorflow-io-gcs-filesystem==0.30.0
plotly.express==0.4.1
tf_slim==1.1.0
streamlit==1.17.0
